

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
  margin-bottom: 15%;
}

.dashedBottom {
  border-bottom: 1px dotted #ddd;
}

.date {
  float: right;
  color: #bbb;
}

.postitusAvalehel {
  margin-bottom: 50px;
  text-align: justify;
}

.postitused {
  float: right;
  color: #bbb;
}












