

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  height: 100%;
}

.main {
  margin-bottom: 15%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}

.footer {
  position: relative;
}

.license {
  position: absolute;
  font-size: 0.8em;
  bottom: 0;
  right: 0;
}

.dashedBottom {
  border-bottom: 1px dotted #ddd;
}

.date {
  float: right;
  color: #bbb;
}

.postitusAvalehel {
  margin-bottom: 50px;
  text-align: justify;
}

.postitused {
  float: right;
  color: #bbb;
}












