/* Webicons by Adam Fairhead at Fairhead Creative http://fairheadcreative.com */
.webicon {
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px; }

.webicon:hover {
  margin: -1px 0 1px;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }

.webicon.small {
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.webicon.large {
  width: 48px;
  height: 48px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

.no-svg .webicon.coderwall {
  background: url("webicons/webicon-coderwall-m.png"); }

.no-svg .webicon.coderwall.large {
  background: url("webicons/webicon-coderwall.png"); }

.svg .webicon.coderwall {
  background: url("webicons/webicon-coderwall.svg"); }

.no-svg .webicon.github {
  background: url("webicons/webicon-github-m.png"); }

.no-svg .webicon.github.large {
  background: url("webicons/webicon-github.png"); }

.svg .webicon.github {
  background: url("webicons/webicon-github.svg"); }

.no-svg .webicon.googleplus {
  background: url("webicons/webicon-googleplus-m.png"); }

.no-svg .webicon.googleplus.large {
  background: url("webicons/webicon-googleplus.png"); }

.svg .webicon.googleplus {
  background: url("webicons/webicon-googleplus.svg"); }

.no-svg .webicon.linkedin {
  background: url(webicons/webicon-linkedin-m.png); }

.no-svg .webicon.linkedin.large {
  background: url(webicons/webicon-linkedin.png); }

.svg .webicon.linkedin {
  background: url(webicons/webicon-linkedin.svg); }

.no-svg .webicon.stackoverflow {
  background: url("webicons/webicon-stackoverflow-m.png"); }

.no-svg .webicon.stackoverflow.large {
  background: url("webicons/webicon-stackoverflow.png"); }

.svg .webicon.stackoverflow {
  background: url("webicons/webicon-stackoverflow.svg"); }

.no-svg .webicon.twitter {
  background: url("webicons/webicon-twitter-m.png"); }

.no-svg .webicon.twitter.large {
  background: url("webicons/webicon-twitter.png"); }

.svg .webicon.twitter {
  background: url("webicons/webicon-twitter.svg"); }

