<div class="well header">
  {% if page.url != "/index.html" %}<a class="home" href="{{ site.url }}"><span class="fa fa-home"></span></a>{% endif %}
  <span class="welcome">{{ page.title }}</span>
  <span class="ikoonid pull-right">
    <a class="webicon github" href="https://github.com/Raidok" >GitHub</a>
    <a class="webicon twitter" href="https://twitter.com/raidohh">Twitter</a>
    <a class="webicon coderwall" href="https://coderwall.com/raidok">Coderwall</a>
    <a class="webicon stackoverflow" href="http://stackoverflow.com/users/767678/raidok">Stack Overflow</a>
    <a class="webicon googleplus" href="https://plus.google.com/u/0/112015133391777262150?rel=author">Google+</a>
  </span>
  {% capture year %}{{ page.date | date: "%Y" }}{% endcapture %}
  {% if page.date and year != "2001" }}%}{% capture kuu %}{{ page.date | date: "%m"  }}{% endcapture %}{% assign kuu = kuu | minus: 1 %}<time class="date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%e" }}{{ paev }}. {{ site.kuud[kuu] }} {{ year }}</time>{% endif %}
</div>
